langchain
langchain-community
langchain-classic
langchain-text-splitters
langchain-chroma
langchain-huggingface
langchain-ollama
rank_bm25
chromadb
sentence-transformers
torchvision
pdfplumber
streamlit
python-dotenv
pinecone
langchain-pinecone
langchain-groq
huggingface_hub